<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.Sc. & M.Sc. Data Science</h1>
            <span>Aalto University</span>
            <span><address>Espoo, Finland</address><time>2018 - current</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>B.A. International Business</h1>
            <span>University of Applied Sciences Jyväskylä</span>
            <span><address>Jyväskylä, Finland</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Service design in hospitality industry in Finland employing QFD model</em>
            <em>Grade: 5/5</em>
        </p>
    </article>
     <article>
        <header>
            <h1>Other training</h1>
        </header>
        <p>
            • Data Scientist In Python - DataQuest<br>
            • Machine Learning - Stanford University & Coursera<br>
            • Salesforce Administration program - Salesforce<br>
            • SAP ERP Integration of Business Processes - Haaga Helia UAS<br>
        </p>
    </article>
</section>
