<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.Sc. Data Science</h1>
            <span>Aalto University</span>
            <span><address>Espoo, Finland</address><time>2018 to currently</time></span>
        </header>
        <p>
            <em>Thesis: Pending</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.A. International Business</h1>
            <span>University of Applied Sciences Jyväskylä</span>
            <span><address>Jyväskylä, Finland</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Service design in hospitality industry in Finland employing QFD model</em>
            <em>Grade: 5/5</em>
        </p>
    </article>
</section>
