<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Data Research Analyst</h1>
            <span><address>Aalto University</address><time>April 2020 - current</time></span>
        </header>
        <p> • Perform ELT process and aggregate data for efficient analysis purposes<br>
            • Analyze data, produce quality insights, and provide ongoing reports<br>
            • Develop and implement databases, and data collection systems<br>
            • Technologies: Python, R, SQL</p>
    </article>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Integrify Oy</address><time>April 2020 - current</time></span>
        </header>
        <p> • Currently completing an intensive work training as a machine learning engineer<br>
            • Technologies: Spark, Scikit-learn, TensorFlow, Docker, AWS, PostgreSQL, MongoDB</p>
    </article>
    <article>
        <header>
            <h1>Business Process Manager</h1>
            <span><address>Pho 17 Oy</address><time>November 2016 - current</time></span>
        </header>
        <p> • Developed planning and strategies for key business units: sales, human resources, logistics and operations<br>
            • Researched and established new potential clients and partnerships<br>
            • Oversaw new marketing initiatives and sales projects<br>
            • Recruited and coached new employees<br>
            • Achieved stable organizational annual growth of 30-35% with teams of 10 members</p>
    </article>
    <article>
        <header>
            <h1>Business Analyst</h1>
            <span><address>Nestronite Oy, Jaxber App</address><time>May 2015 - December 2015</time></span>
        </header>
        <p> • CRM administration, generated leads, managed opportunities and assisted managers sales deals and customer success support work<br>
            • Produced sales reports and dashboards<br>
            • Analyzed customer data and shared knowledge across stakeholders<br>
            • Captured contextual insights for service design processes and helped launched the Jaxber app to market</p>
    </article>
    
    <h1>Project work</h1>
    <article>
        <header>
            <h1>Developer for Lunch Menu App</h1>
            <span><address>Aalto University, Scala Programming Project</address><time>April 2019</time></span>
        </header>
        <p> • Developed a lunch app that serves basic needs of showing business info, food menu and allergy info at Fazer A-Bloc and Sodexo Mechanical Engineering restaurant,
in object-oriented and functional programming styles with Scala and JSON text files<br>
            • First app self-developed and successfully work in Scale IDE Eclipse</p>
    </article>
    <article>
        <header>
            <h1>Data Management Specialist and Thesis Worker</h1>
            <span><address>Sodexo Oy</address><time>April 2016 - April 2017</time></span>
        </header>
        <p> • Modeled and analyzed contextual data in videos, audio, text and number formats from over 300 customers<br>
            • Received 5/5 thesis grade and critical recognition from the school and all companies participated</p>
    </article>
</section>
