<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Data Research Scientist</h1>
            <span><address>Aalto University</address><time>April 2020 - current</time></span>
        </header>
        <p> • Architect databases, and monitor data acquisition systems<br>
            • Perform statistical testings, data analysis and research reports<br>
            • Construct data pipelines and ELT processes<br>
            • <em>Technologies: Python, R, SQL</em></p>
    </article>
    <article>
        <header>
            <h1>Data Engineer</h1>
            <span><address>Integrify Oy</address><time>April 2020 - current</time></span>
        </header>
        <p> • Develop data pipelines for data science and machine learning<br>
            • Architect databases and data management processes for business intelligence<br>
            • <em>Technologies: Spark, Dask, Scikit-learn, TensorFlow, Azure, mySQL, MongoDB</em><br>
            • <em><a href="https://mybui.github.io/"> Portfolio: Machine Learning, Data Science and Data Engineering</a></em></p>
    </article>
    <article>
        <header>
            <h1>Information Systems Manager</h1>
            <span><address>Pho 17 Oy</address><time>November 2016 - current</time></span>
        </header>
        <p> • Codify IT-based human relationships and business processes<br>
            • Design and supervise organizational systems of collecting, processing, storing and distributing information<br>
            • Achieved stable organizational annual growth of 15% with teams of 10 members</p>
    </article>
    
    <h1>Project work</h1>
        <article>
        <header>
            <h1>Data Pipeline Engineering and Analysis</h1>
            <span><address>Hintsa and Aalto University, Exponential Covid-19 Research Project</address><time>April - September 2020</time></span>
        </header>
        <p> • Designed an ELT process that supports scalable and efficient data storage and analysis<br>
            • Database management and data visualization via reports coded in Python and R<br>
            • <em>Technologies: Python, R, SQLite</em><br>
            • <em><a href="https://mybui.github.io/sample_covidRep.pdf"> Project link: sample final report in Python</a></em></p>
    </article>
        <article>
        <header>
            <h1>University Database Model Engineering</h1>
            <span><address>Aalto University, University Course and Student Database Project</address><time>June - September 2020</time></span>
        </header>
        <p> • Implemented university database structure that supports course catalogs, course registration, 
            student information system, and room registration<br>
            • Constructed class UML and relational models<br>
            • <em>Technologies: Python, SQLite</em><br>
            • <em><a href="https://mybui.github.io/uniDB-setup.txt"> Project link: university DB setup</a></em></p>
            • <em><a href="https://mybui.github.io/uniDB-queries.txt"> Project link: sample queries</a></em></p>
    </article>
    <article>
        <header>
            <h1>Lunch Menu App Development</h1>
            <span><address>Aalto University, Scala Programming Project</address><time>April 2019</time></span>
        </header>
        <p> • Developed a lunch app that serves basic needs of showing business info, food menu and allergy info at Fazer A-Bloc and Sodexo Mechanical Engineering restaurant,
            in object-oriented and functional programming styles with Scala and JSON text files<br>
            • <em>Technologies: Scala (OOP and data pipeline)</em></p>
    </article>
        <article>
        <header>
            <h1>Business Analysis for M&A Finnair and KLM</h1>
            <span><address>JAMK UAS and Hogeschool Utretcht</address><time>August 2016 - December 2016</time></span>
        </header>
        <p> • Performed financial analysis and calculation of M&A models, metrics, and forecasts of important business synergies<br>
            • Earned 2nd place in the project competition and laid a critical foundation for one Hanken School of Business student's M.A. thesis<br>
            • <em>Technologies: SPSS (statistics modeling) and Excel (database)</em></p>
    </article>
    <article>
        <header>
            <h1>Thesis Project on Data Management</h1>
            <span><address>Sodexo Oy</address><time>April 2016 - April 2017</time></span>
        </header>
        <p> • Modeled and analyzed contextual data in videos, audio, text and number formats from over 300 customers<br>
            • Received 5/5 thesis grade and critical recognition from the school and all companies participated<br>
            • <em>Technologies: NVivo (data analysis), SSMS</em></p>
    </article>
</section>
