<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Data Research Analyst</h1>
            <span><address>Aalto University</address><time>April 2020 - current</time></span>
        </header>
        <p> • Perform ELT process and aggregate data for efficient analysis purposes<br>
            • Analyze data, produce quality insights, and provide ongoing reports<br>
            • Develop and implement databases, and data collection systems<br>
            • Technologies: Python, R, SQL</p>
    </article>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Integrify Oy</address><time>April 2020 - current</time></span>
        </header>
        <p> • Currently completing an intensive work training as a machine learning engineer<br>
            • Technologies: Spark, Dask, Scikit-learn, TensorFlow, Docker, AWS, PostgreSQL, MongoDB</p>
    </article>
    <article>
        <header>
            <h1>Business Process Manager</h1>
            <span><address>Pho 17 Oy</address><time>November 2016 - current</time></span>
        </header>
        <p> • Developed planning and strategies for key business units: sales, human resources, logistics and operations<br>
            • Researched and established new potential clients and partnerships<br>
            • Oversaw new marketing initiatives and sales projects<br>
            • Recruited and coached new employees<br>
            • Achieved stable organizational annual growth of 30-35% with teams of 10 members</p>
    </article>
    
    <h1>Project work</h1>
        <article>
        <header>
            <h1>Data Pipeline Engineering and Analysis</h1>
            <span><address>Hintsa and Aalto University, Exponential Covid-19 Research Project</address><time>April - September 2020</time></span>
        </header>
        <p> • Designed an ELT process that supports scalable and efficient data storage and analysis<br>
            • Database management and data visualization via reports coded in Python and R<br>
            • Technologies: Python, R, SQLite<br>
            • <a href="https://mybui.github.io/sample_covidRep.pdf"> Project link</a></p>
    </article>
        <article>
        <header>
            <h1>University Database Model Engineering</h1>
            <span><address>Aalto University, University Course and Student Database Project</address><time>June - September 2020</time></span>
        </header>
        <p> • Implemented university database structure that supports course catalogs, course registration, 
            student information system, and room registration<br>
            • Constructed class UML and relational models<br>
            • Technologies: Python, SQLite<br>
            • <a href="https://mybui.github.io/uniDB-setup.txt"> Project link</a></p>
            • <a href="https://mybui.github.io/uniDB-queries.txt"> Project link</a></p>
    </article>
    <article>
        <header>
            <h1>Lunch Menu App Development</h1>
            <span><address>Aalto University, Scala Programming Project</address><time>April 2019</time></span>
        </header>
        <p> • Developed a lunch app that serves basic needs of showing business info, food menu and allergy info at Fazer A-Bloc and Sodexo Mechanical Engineering restaurant,
            in object-oriented and functional programming styles with Scala and JSON text files<br>
            • Technologies: Scala (OOP and data pipeline)</p>
    </article>
        <article>
        <header>
            <h1>Business Analysis for M&A Finnair and KLM</h1>
            <span><address>JAMK UAS and Hogeschool Utretcht</address><time>August 2016 - December 2016</time></span>
        </header>
        <p> • Performed financial analysis and calculation of M&A models, metrics, and forecasts of important business synergies<br>
            • Earned 2nd place in the project competition and laid a critical foundation for one Hanken School of Business student's M.A. thesis<br>
            • Technologies: SPSS (statistics modeling) and Excel (database)</p>
    </article>
    <article>
        <header>
            <h1>Thesis Project on Data Management</h1>
            <span><address>Sodexo Oy</address><time>April 2016 - April 2017</time></span>
        </header>
        <p> • Modeled and analyzed contextual data in videos, audio, text and number formats from over 300 customers<br>
            • Received 5/5 thesis grade and critical recognition from the school and all companies participated<br>
            • Technologies: NVivo (data analysis), SSMS (SQL database)</p>
    </article>
</section>
