<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Data Science</h1>
        </header>
        <p>
            <em>Scala</em>, <em>Python</em>, <em>T-SQL</em> &amp; <em>Git</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Business ICT</h1>
        </header>
        <p>
            <em>SAP</em> &amp; <em>Salesforce</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BI</h1>
        </header>
        <p>
            <em>Qlik</em>, <em>PowerBI</em> &amp; <em>Tableau</em>
        </p>
    </article>
</section>
