<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming</h1>
        </header>
        <p>
            <em>Scala, Python, R, SQL</em>
        </p>
        <br>
        <header>
            <h1>Data Analysis</h1>
        </header>
        <p>
            <em>Numpy, Pandas</em>
        </p>
        <br>
        <header>
            <h1>Data Visualization</h1>
        </header>
        <p>
            <em>Matplotlib, Seaborn, Plotly</em>
        </p>
        <br>
        <header>
            <h1>Data Engineering</h1>
        </header>
        <p>
            <em>Spark, Dask, PostgreSQL, MongoDB, SSMS, SSIS</em>
        </p>
        <br>
        <header>
            <h1>Machine Learning</h1>
        </header>
        <p>
            <em>Scikit-learn, TensorFlow</em>
        </p>
        <br>
        <header>
            <h1>Cloud</h1>
        </header>
        <p>
            <em>AWS (Date Engineer role)</em>
        </p>
        <br>
        <header>
            <h1>Business ICT & BI</h1>
        </header>
        <p>
            <em>SAP, Salesforce, Qlik, PowerBI, Tableau</em>
        </p>
    </article>
</section>
